.a{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.b{
    color: green;
}
.c{
    color: blue;
}
.d{
    color: yellow;
}
.a03{
    color: pink;
}
.a04{
    color: blue;

}

#a01{
    background-color: blue;
    padding: 20px;
    margin: 20px 30px;
    
}
.Inline-Blue-TEXT{
    color: blue;
}